@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}


@font-face {
  font-family: regular;
  src: url("./font/SF-Pro-Text-Regular.otf");
}
@font-face {
  font-family: regularBold;
  src: url("./font/SF-Pro-Text-Bold.otf");
}
@layer base {
  html {
    font-family: "regular";
  }
}
